attrs==24.2.0
beautifulsoup4==4.12.3
cachetools==5.4.0
cattrs==23.2.3
cchardet==2.1.7
certifi==2024.7.4
charset-normalizer==3.3.2
exceptiongroup==1.2.2
google-auth==2.33.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
idna==3.7
lxml==5.3.0
marko==2.1.2
multidict==6.0.5
numpy==2.0.1
oauthlib==3.2.2
pandas==2.2.2
platformdirs==4.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
yarl==1.9.4
